<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pokemon GO, raid, 포켓몬고, 레이드,">
    <meta name="Publisher" content="Leeh_Co_KR">
    <meta name="Author" content="Hayandal">
    <meta name="Robots" content="noindex, nofollow">

    <meta name="imagetoolbar" content="no">

    <meta name="refresh" content="5;url=https://PokemonGO_info.com/*">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="This is Hayandal's Pokemon GO Information Page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/detailInfo.css" type="text/css">
    <title>Pokemon GO Raid INFO</title>
</head>

<body>
<div class="container">
    <header>

    </header>
    <nav>

    </nav>
    <main>
        <div class="informationBox">
            <div class="box1">
                <div class="boxRaidStar">
                    <h4 class="brsItem">5 STAR</h4>
                </div>
                <div class="boxNameNumber">
                    <p class="bnnItem">#8888</p>
                    <h4 class="bnnItem">Mega Rayquaza</h4>
                </div>
            </div>
            <div id="typeBox">
                <p class="pokemonType">Water</p>
                <p class="pokemonType">Ground</p>
            </div>
            <div id="infoBox">
                <div id="pokemonImg" class="infoImg">
                    <img src="/가이오가_픽셀.png" alt="가이오가">
                </div>
                <div class="infoADH">
                    <p>ATT</p>
                    <p>DEF</p>
                    <p>HP</p>
                </div>
                <div class="infoADHNum">
                    <p>270</p>
                    <p>228</p>
                    <p>205</p>
                </div>
            </div>
            <div class="diffBox">
                <h3>DIFFICULT</h3>
                <p>3 ~ 4</p>
            </div>
            <div class="cpBox">
                <div class="cpBoxLV20">
                    <h3>Level . 20</h3>
                    <p>2260 ~ 2351</p>
                </div>
                <div class="cpBoxLV25">
                    <h3>Level . 25</h3>
                    <p>2825 ~ 2939</p>
                </div>
            </div>
        </div>
    </main>
    <article>
        <div class="skillListBox">
            <h4>Normal Skill</h4>
            <div class="nsList">
                <table>
                    <tr class="skillList">
                        <td class="skill">
                            <div class="skillBox">
                                <div class="snBox">
                                    <h3 class="skillName">불타오르기</h3>
                                </div>
                                <div class="dcBox">
                                    <p class="damageCooltime">Damage : 14</p>
                                    <p class="damageCooltime">Cooldown : 0.6</p>
                                </div>
                                <div class="edBox">
                                    <p class="epsDps">EPS : 4.92</p>
                                    <p class="epsDps">DPS : 4.55</p>
                                </div>
                            </div>
                        </td>
                        <td class="skill">
                            <div class="skillBox">
                                <div class="snBox">
                                    <h3 class="skillName">불타오르기</h3>
                                </div>
                                <div class="dcBox">
                                    <p class="damageCooltime">데미지 : 14</p>
                                    <p class="damageCooltime">재사용 : 0.6</p>
                                </div>
                                <div class="edBox">
                                    <p class="epsDps">EPS : 4.92</p>
                                    <p class="epsDps">DPS : 4.55</p>
                                </div>
                            </div>
                        </td>
                        <td class="skill">
                            <div class="skillBox">
                                <div class="snBox">
                                    <h3 class="skillName">불타오르기</h3>
                                </div>
                                <div class="dcBox">
                                    <p class="damageCooltime">데미지 : 14</p>
                                    <p class="damageCooltime">재사용 : 0.6</p>
                                </div>
                                <div class="edBox">
                                    <p class="epsDps">EPS : 4.92</p>
                                    <p class="epsDps">DPS : 4.55</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="skillListBox">
            <h4>Special Skill</h4>
            <div class="nsList">
                <table>
                    <tr class="skillList">
                        <td class="skill">
                            <div class="skillBox">
                                <div class="snBox">
                                    <h3 class="skillName">불타오르기</h3>
                                </div>
                                <div class="dcBox">
                                    <p class="damageCooltime">Damage : 14</p>
                                    <p class="damageCooltime">Cooldown : 0.6</p>
                                </div>
                                <div class="edBox">
                                    <p class="epsDps">EPS : 4.92</p>
                                    <p class="epsDps">DPS : 4.55</p>
                                </div>
                            </div>
                        </td>
                        <td class="skill">
                            <div class="skillBox">
                                <div class="snBox">
                                    <h3 class="skillName">불타오르기</h3>
                                </div>
                                <div class="dcBox">
                                    <p class="damageCooltime">데미지 : 14</p>
                                    <p class="damageCooltime">재사용 : 0.6</p>
                                </div>
                                <div class="edBox">
                                    <p class="epsDps">EPS : 4.92</p>
                                    <p class="epsDps">DPS : 4.55</p>
                                </div>
                            </div>
                        </td>
                        <td class="skill">
                            <div class="skillBox">
                                <div class="snBox">
                                    <h3 class="skillName">불타오르기</h3>
                                </div>
                                <div class="dcBox">
                                    <p class="damageCooltime">데미지 : 14</p>
                                    <p class="damageCooltime">재사용 : 0.6</p>
                                </div>
                                <div class="edBox">
                                    <p class="epsDps">EPS : 4.92</p>
                                    <p class="epsDps">DPS : 4.55</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    <footer></footer>
</div>
</body>

</html>