<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pokemon GO, raid, 포켓몬고, 레이드,">
    <meta name="Publisher" content="Leeh_Co_KR">
    <meta name="Author" content="Hayandal">
    <meta name="Robots" content="noindex, nofollow">

    <meta name="imagetoolbar" content="no">

    <meta name="refresh" content="5;url=https://PokemonGO_info.com/*">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="This is Hayandal's Pokemon GO Information Page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/editDetailInfo.css" type="text/css">
    <title>Pokemon GO Raid INFO</title>
</head>

<body>
<div class="layout">
    <header>

    </header>
    <nav>

    </nav>
    <main>
        <div id="pointOne">
            <div id="basicInfoPanel">
                <div id="raidTitleDisplay">
                    <p class="raidTitleItem">#382</p>
                    <h3 class="raidTitleItem">RAID</h3>
                </div>
                <div id="pokemonName">
                    <h1>KYOGRE</h1>
                </div>
            </div>
            <div id="typePanel">
                <form action="#">
                    <label for="type">Type_1</label>
                    <select name="pokemonType" id="type">
                        <option value="null">NONE</option>
                        <option value="water">WATER</option>
                        <option value="fire">FIRE</option>
                        <option value="normal">NORMAL</option>
                        <option value="flying">FLYING</option>
                        <option value="ground">GROUND</option>
                        <option value="steel">STEEL</option>
                        <option value="bug">BUG</option>
                        <option value="electr">ELECTR</option>
                        <option value="dragon">DRAGON</option>
                        <option value="rock">ROCK</option>
                        <option value="fight">FIGHT</option>
                        <option value="grass">GRASS</option>
                        <option value="ghost">GHOST</option>
                        <option value="poison">POISON</option>
                        <option value="psychic">PSYCHIC</option>
                        <option value="dark">DARK</option>
                        <option value="ice">ICE</option>
                        <option value="fairy">FAIRY</option>
                    </select>
                </form>
                <p class="pokemonType">
                <form action="#">
                    <label for="type">Type_2</label>
                    <select name="pokemonType" id="type">
                        <option value="null">NONE</option>
                        <option value="water">WATER</option>
                        <option value="fire">FIRE</option>
                        <option value="normal">NORMAL</option>
                        <option value="flying">FLYING</option>
                        <option value="ground">GROUND</option>
                        <option value="steel">STEEL</option>
                        <option value="bug">BUG</option>
                        <option value="electr">ELECTR</option>
                        <option value="dragon">DRAGON</option>
                        <option value="rock">ROCK</option>
                        <option value="fight">FIGHT</option>
                        <option value="grass">GRASS</option>
                        <option value="ghost">GHOST</option>
                        <option value="poison">POISON</option>
                        <option value="psychic">PSYCHIC</option>
                        <option value="dark">DARK</option>
                        <option value="ice">ICE</option>
                        <option value="fairy">FAIRY</option>
                    </select>
                </form>
                </p>
            </div>
            <div id="imgChaInfoPanel">
                <div id="pokemonImg" class="pokemonInfo">
                    <img src="/static/image/가이오가_픽셀.png" alt="가이오가">
                </div>
                <div id="pokemonInfoTitle" class="pokemonInfo">
                    <h6>ATT</h6>
                    <h6>DEF</h6>
                    <h6>HP</h6>
                </div>
                <div id="pokemonInfoNum" class="pokemonInfo">
                    <input type="text" name="pokemonAtt" id="att">
                    <input type="text" name="pokemonDef" id="def">
                    <input type="text" name="pokemonHp" id="hp">
                </div>
            </div>
            <div id="raidDiffPanel">
                <h3>DIFFICULT</h3>
                <p>3 ~ 4</p>
            </div>
            <div id="eachLvCpPanel">
                <div id="pokemonInfoLV20">
                    <h3>Level . 20</h3>
                    <h6>
                        <input type="number" name="min20Cp">
                        ~
                        <input type="number" name="max20Cp">
                    </h6>
                </div>
                <div id="pokemonInfoLV25">
                    <h3>Level . 25</h3>
                    <h6><input type="number" name="min25Cp"> ~ <input type="number" name="max25Cp"></h6>
                </div>
            </div>
        </div>
    </main>
    <article>
        <div id="pointTwo">
            <div id="skillPanel">
                <h3>Skill List</h3>
            </div>
            <div id="skillList">
                <table id="ns">
                    <tr class="panelName">
                        <th>Normal Skill</th>
                    </tr>
                    <tr class="skillPanelList">
                        <td class="SkillBox">
                            <div class="skillName">
                                <h3>불타오르기</h3>
                            </div>
                            <div>
                                <p class="dc">데미지 <input type="number" name="damage" id=""></p>
                                <p class="dc">재사용 <input type="number" name="cooltime" id=""></p>
                            </div>
                            <div>
                                <p class="edps">EPS <input type="number" name="eps" id=""></p>
                                <p class="edps">DPS <input type="number" name="dps" id=""></p>
                            </div>
                        </td>
                    </tr>
                </table>
                <table id="ss">
                    <tr class="panelName">
                        <th>Special Skill</th>
                    </tr>
                    <tr class="skillPanelList">
                        <td class="SkillBox">
                            <div class="skillName">
                                <h3>불타오르기</h3>
                            </div>
                            <div>
                                <p class="dc">데미지 <input type="number" name="damage" id=""></p>
                                <p class="dc">재사용 <input type="number" name="cooltime" id=""></p>
                            </div>
                            <div>
                                <p class="edps">EPS <input type="number" name="eps" id=""></p>
                                <p class="edps">DPS <input type="number" name="dps" id=""></p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    <footer></footer>
</div>
</body>

</html>